* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  padding: 1ren;
  display: flex;

  background-color: #1c1c1c;
  color: white;
}

.chats {
  margin: 1rem auto;
  text-align: center;
}

.controls {
  width: 40vw;
  /* padding: 0.5rem; */

  border-right: 1px solid rgb(75, 75, 75);
}

.chatsWrapper {
  max-height: 100vh;
  width: 60vw;
  flex: 0.7;
  margin: auto 1rem;
}

.chatcontainer {
  height: 70vh;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  overflow-y: scroll;

  border: 1px solid whitesmoke;
}
::-webkit-scrollbar {
  display: none;
}

.message {
  /* width: 70%; */
  max-width: 60%;
  padding: 0.5rem;
  border: 2px dotted white;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  /* background-color: #3c096c; */

  -webkit-box-shadow: 0px 0px 10px 5px rgba(46, 255, 252, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(46, 255, 252, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(46, 255, 252, 0.2);
}

.message h3 {
  color: aqua;
  /* padding: 0.2rem; */
}

.received-message {
  align-self: flex-start;
  margin-left: 0.5rem;

  background-color: #10002b;
}

.userid-sm {
  color: gray;
  font-size: 0.7rem;
  margin: 0.5rem;

  float: right;
}
.send-message {
  align-self: flex-end;
  margin-right: 0.5rem;

  background-color: #060606;
}

.userstatus {
  padding: 0.5rem 0;
  text-align: center;
  background-color: #0000006b;
}

.joined {
  color: yellow;
  margin: 0.2rem 0;
  /* -webkit-box-shadow: 0px 0px 10px 5px rgba(220, 255, 24, 0.596);
  -moz-box-shadow: 0px 0px 10px 5px rgba(220, 255, 24, 0.596);
  box-shadow: 0px 0px 10px 5px rgba(220, 255, 24, 0.596); */
}

.leaved {
  color: red;
  margin: 0.2rem 0;
  /* -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 46, 46, 0.781);
  -moz-box-shadow: 0px 0px 10px 5px rgba(255, 46, 46, 0.781);
  box-shadow: 0px 0px 10px 5px rgba(255, 46, 46, 0.781); */
}

.msg-writing {
  display: flex;
  margin: 0.5rem;
  width: 60vw;
}

#userMsg {
  width: 70%;
  /* min-width: 255px; */
  font-size: 1.25rem;
  padding: 0.5rem;

  /* min-width: 255px; */
}

.mdg-send-wrap {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

#sendMsg,
#adminOptionsBtn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: aliceblue;
  border: 1px double aqua;
  cursor: pointer;

  -webkit-box-shadow: 0px 0px 5px 5px rgba(46, 255, 252, 0.2);
  -moz-box-shadow: 0px 0px 5px 5px rgba(46, 255, 252, 0.2);
  box-shadow: 0px 0px 5px 5px rgba(46, 255, 252, 0.2);
}

#sendMsg:active,
#adminOptionsBtn:active {
  background-color: aqua;
  color: black;
  font-weight: 600;
  border: 1px double black;

  -webkit-box-shadow: 0px 0px 5px 5px rgba(46, 255, 252, 0.2);
  -moz-box-shadow: 0px 0px 5px 5px rgba(46, 255, 252, 0.2);
  box-shadow: 0px 0px 5px 5px rgba(46, 255, 252, 0.2);
}

#group-list {
  height: 70vh;

  background-color: black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;

  gap: 0.5rem;

  overflow-y: scroll;
}

.group {
  padding: 0.2rem 0.5rem;
  border: 1px dotted white;
  display: flex;
  align-items: center;
  width: 80%;

  justify-content: space-between;
}

#adminOptionsBtn {
  display: block;

  margin: 0.5rem auto;
}
