<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <!-- heading  -->
    <div class="auth-heading">
      <h2>Join The Chats</h2>
      <p>build for youth</p>
    </div>
    <!-- form  -->
    <form id="authForm">
      <!-- Name -->
      <!-- <label for="name">Name</label>
      <input type="text" id="name" required /> -->

      <!-- phone -->
      <!-- <label for="phone">Phone</label>
      <input type="tel" id="phone" required /> -->

      <!-- email -->
      <label for="email">Email</label>
      <input type="tel" id="email" required />

      <!-- pass -->
      <label for="password">Password</label>
      <input type="password" id="password" required />

      <!-- submit btn  -->
      <button type="submit" id="AuthBtn">Submit</button>

      <!-- text -->
      <p>New here ? <a href="signup">SignUp Now</a></p>

      <!-- text -->
      <p>Forgot Password <a href="#">Reset Here</a></p>

      <!-- error text -->
      <p class="hidden error" id="error-message"></p>
    </form>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"
    integrity="sha512-OdkysyYNjK4CZHgB+dkw9xQp66hZ9TLqmS2vXaBrftfyJeduVhyy1cOfoxiKdi4/bfgpco6REu6Rb+V2oVIRWg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="js/login.js"></script>
</html>
